.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.payment-heading {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.bkash-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.bkash-label {
    font-size: 18px;
    margin-bottom: 10px;

}

.bkash-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bkash-submit {
    background-color: #FDD138;
    color: #662D91;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bkash-submit:hover {
    background-color: #662D91;
    color: white;
}
