.sidebar {
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    height: 85vh;
    overflow-y: auto;
}

.sidebar > a:first-child {
    padding: 0;
}
.sidebar > a > img {
    width: 50%;
    margin-top: -40px;
    float: right;
    transition: all 0.5s;
}

.sidebar > a > img:hover {
    filter: drop-shadow(0 0 10px #FDD138);
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}
.sidebar a:hover {
    color: #FDD138;
    transform: scale(1.1);
}

.sidebar a > P {
    display: flex;
    align-items: center;
}
.sidebar a > p > svg {
    margin-right: 0.5rem;
}

/*.MuiTypography-root {*/
/*    background-color: #fff !important;*/
/*}*/