.productDetails {
    /*background-color: rgb(255, 255, 255);*/
    width: 100vw;
    height: fit-content;
    max-width: 100%;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
}

.productDetails > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vmax;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.06);
    align-items: flex-start;

}
.carousel{
    width: 300px;
    align-items: center;
}

.carouselImage {
    max-width: 100%;
}

.detailsBlock-1{
    display: flex;
    flex-direction: row;
}

.detailsBlock-1 > div > h1 {
    color: rgb(255, 255, 255);
    font: 600 42px "Roboto";
}

.detailsBlock-1>div > p {
    color: rgba(166, 166, 166, 0.79);
    font: 200 15px cursive;
    margin-bottom: 15px;
}

.detailsBlock-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 70%;
    padding: 1vmax 0;
}

.detailsBlock-2-span {
    font: 200 0.8vmax cursive;
    color: rgba(0, 0, 0, 0.699);
}

.detailsBlock-3 {
    width: 70%;
}

.detailsBlock-3 > h1 {
    color: rgba(255, 255, 255, 0.91);
    font: 400 1.8vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
}
.detailsBlock-3-1 {
    display: flex;
    align-items: center;
}

.detailsBlock-3-1-1 > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}
.detailsBlock-3-1-1 > button:hover {
    background-color: rgba(0, 0, 0, 0.68);
}

.detailsBlock-3-1-1 > input {
    border: none;
    padding: 8px;
    width: 40px;
    text-align: center;
    outline: none;
    font: 400 12px "Roboto";
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.2);
}

.detailsBlock-3-1 > button:last-child ,.Link3D{
    border: none;
    cursor: pointer;
    color: black;
    transition: all 0.5s;
    background-color: #FDD138;
    font: 700 15px "Roboto";
    border-radius: 20px;
    padding: 0.5vmax 2vmax;
    margin: 1vmax;
    outline: none;
}

.detailsBlock-3-1 > button:last-child:hover .Link3D:hover{
    background-color: #52385D;
    color: white;
    transform: scale(1.08);
}

.detailsBlock-3 > p {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: rgba(255, 255, 255, 0.92);
    font: 400 15px "Roboto";
    margin: 1vmax 0;
}

.detailsBlock-4 {
    color: rgba(255, 255, 255, 0.89);
    font: 500 28px sans-serif;
}

.redColor{
    color: red;
}
.greenColor{
    color: green;
}

.detailsBlock-4 > p {
    color: rgba(246, 246, 246, 0.53);
    font: 300 15px sans-serif;
}

.submitReview {
    border: none;
    background-color: #FDD138;
    font: 700 15px "Roboto";
    border-radius: 20px;
    padding: 0.6vmax 2vmax;
    margin: 1vmax 0;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}
.submitReview:hover {
    background-color: #52385D;
    transform: scale(1.08);
    color: white;
}

.submitDialog {
    display: flex;
    flex-direction: column;
}
.submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
}

.reviewsHeading {
    color: #FDD138;
    font: 700 42px "Roboto";
    text-align: center;
    border-bottom: 1px solid #FDD138;
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 30px;
}
.reviews {
    display: flex;
    overflow: auto;
}

.reviewCard {
    flex: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.44);
    border: 1px solid rgba(245, 245, 245, 0.11);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
}
.reviewCard > img {
    width: 100px;
}
.reviewCard > p {
    color: rgba(255, 255, 255, 0.84);
    font: 600 28px "Roboto";
}
.reviewCardComment {
    color: rgba(255, 255, 255, 0.44);
    font: 300 15px cursive;
}

.noReviews {
    font: 400 24px "Gill Sans";
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}

@media screen and (max-width: 600px) {
    .productDetails {
        flex-direction: column;
        height: unset;
    }

    .productDetails > div:last-child {
        align-items: center;
    }

    .detailsBlock-1 > div > h1 {
        font-size: 2.8vmax;
        text-align: center;
    }

    .detailsBlock-1 > div > p {
        text-align: center;
        font-size: 1vmax;
    }

    .detailsBlock-2 {
        justify-content: center;
    }
    .detailsBlock-2 > span {
        font-size: 1.5vmax;
    }

    .detailsBlock-3 > h1 {
        font: 700 3vmax "Franklin Gothic Medium";
        text-align: center;
    }

    .detailsBlock-3-1 {
        flex-direction: column;
    }

    .detailsBlock-3-1-1 {
        padding: 2vmax 0;
    }
    .detailsBlock-3-1-1 > button {
        padding: 1.2vmax;
        width: 4vmax;
    }

    .detailsBlock-3-1-1 > input {
        padding: 1.5vmax;
        width: 3vmax;
        font: 400 1.8vmax "Roboto";
    }

    .detailsBlock-3-1 > button:last-child {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }

    .detailsBlock-3 > p {
        padding: 2.5vmax 0;
        text-align: center;
        font: 400 2vmax "Roboto";
    }

    .detailsBlock-4 {
        font: 500 2.5vmax sans-serif;
    }

    .detailsBlock-4 > p {
        font: 300 1.8vmax sans-serif;
    }

    .submitReview {
        font: 500 1.7vmax "Roboto";
        padding: 1.5vmax;
        width: 20vmax;
        margin: 3vmax 0;
    }

/*    .reviewCard > p {*/
/*        font: 600 3vw "Roboto";*/
/*    }*/
/*    .reviewCardComment {*/
/*        font: 300 5vw cursive;*/
/*    }*/
}