@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}

.updatePasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(55deg, rgba(125, 125, 126, 0.99) 0%, rgb(14, 14, 14) 100%);
    position: fixed;
    top: 0%;
    left: 0;
}

.updatePasswordBox {
    background: linear-gradient(312deg, rgba(89, 89, 89, 0.93) 0%, rgb(14, 14, 14) 100%);
    color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.56);
    animation: shake 0.5s ease-in-out;

}

.updatePasswordHeading {
    text-align: center;
    color: rgba(255, 255, 255, 0.66);
    font: 400 24px "Roboto";
    padding: 20px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: auto;
}

.updatePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}

.updatePasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordForm > div > input {
    padding:16px 20px 16px 50px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 16px cursive;
    outline: none;
}

.updatePasswordForm > div > svg {
    position: absolute;
    transform: translateX(16px);
    font-size: 24px;
    color: rgba(0, 0, 0, 0.623);
}

.updatePasswordBtn {
    border: none;
    background-color: #FDD138;
    color: black;
    font: 500 16px "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.updatePasswordBtn:hover {
    background-color: #662D91;
    color: white;}

@media screen and (max-width: 600px) {

    .updatePasswordBox {
        width: 100vw;
        height: 95vh;
    }

    .updatePasswordForm {
        padding: 5vmax;
    }


    .updatePasswordForm > div > svg {
        font-size: 24px;    }

    .updatePasswordBtn {
        font: 300 16px "Roboto";
        padding: 12px;
    }
}